@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProRegular.eot');
    src: url('../fonts/GothamProRegular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamProRegular.woff') format('woff'),
         url('../fonts/GothamProRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProLight.eot');
    src: url('../fonts/GothamProLight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamProLight.woff') format('woff'),
         url('../fonts/GothamProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProMedium.eot');
    src: url('../fonts/GothamProMedium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamProMedium.woff') format('woff'),
         url('../fonts/GothamProMedium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProBold.eot');
    src: url('../fonts/GothamProBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GothamProBold.woff') format('woff'),
         url('../fonts/GothamProBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
/************************* reset *************************/
html{
    height: 100%;
    margin: 0;
    padding: 0;width: 100%;
    background: #fff;
}
body{
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    font-family: 'GothamPro', Arial, Helvetica, sans-serif;
    line-height: 20px;
    min-width: 320px;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
h1, h2, h3, h4, p, ul, li, a, span, div, input, textarea, select, form, fieldset, button, dl, dd, dt, figure, figcaption, blockquote, caption, aside, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}
img {
    margin: 0;
    padding: 0;
    border-style: none;
    vertical-align: bottom;
}
input, textarea, select, button {
    font-weight: 500;
    font-family: 'GothamPro', Arial, Helvetica, sans-serif;
    vertical-align:middle;
    border: 0;
    outline: 0;
    background: none;
}
button {font-weight: 300;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
/************************* common styles *************************/
.holder {
    max-width: 1010px;
    padding: 0 20px;
    margin: 0 auto;
}
.holder:after {
    display: block;
    content: '';
    clear: both;
}
h1 {
    max-width: 600px;
    margin: 0 0 5px;
    color: #fff;
    font-size: 38px;
    font-weight: 500;
    line-height: 42px;
}
h2 {
    margin: 0 0 37px;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
}
.title:after {
    display: block;
    content: '';
    width: 170px;
    height: 4px;
    margin: 20px 0 0;
    background: #3891d2;
}
h3 {
    margin: 0 0 30px;
    font-size: 29px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
h4 {
    margin: 0 0 26px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
p {margin: 0 0 20px;}
p a {color: #06b2aa;}
b, strong {font-weight: 500;}
.title-text {
    margin: -56px 0 70px;
    text-align: center;
}
/************************* form-block *************************/
.input {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 21px;
    margin: 0 0 14px;
    color: #707070;
    font-size: 16px;
    border-radius: 7px;
    -webkit-box-shadow: inset 0 3px 7px 0 rgba(0,0,0,0.19);
    box-shadow: inset 0 3px 7px 0 rgba(0,0,0,0.19);
    background: #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.submit {
    display: block;
    width: 100%;
    height: 62px;
    padding: 3px 0 0;
    margin: -7px 0 0;
    color: #40380a;
    font-size: 19px;
    font-weight: 700;
    line-height: 55px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 7px;
    border-bottom: 3px solid #c09319;
    background: #f6d001;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}
.submit:hover {
    background: #ffe400;
}
.submit:active {
    height: 59px;
    margin: -4px 0 0;
    border-bottom: 0;
}
::-webkit-input-placeholder {color: #d4d4d4;}
:-moz-placeholder {color: #d4d4d4; opacity: 1;}
::-moz-placeholder {color: #d4d4d4; opacity: 1;}
:-ms-input-placeholder {color: #d4d4d4;}
.input.error, .textarea.error {
    color: rgb(255, 86, 71);
    background-color: rgb(255, 206, 202);
}
label.error {
    position: absolute;
    left: -9999px;
}
.select-block select {width: 100%;}
/************************* wrapper *************************/
#wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100%;
    background: url(../images/media/top-bg.jpg) 50% 0 no-repeat;
}
/************************* header *************************/
.header {
    position: relative;
    padding: 18px 0 57px;
}
.header-top {
    overflow: hidden;
    max-width: 676px;
    padding: 0 0 18px;
}
.header-city-link {
    float: left;
    padding: 9px 0 0;
}
.header-contacts-link {
    float: left;
    margin: 0 0 0 12px;
    padding: 9px 0 0;
}
.header-contacts-link:before {
    display: inline-block;
    vertical-align: top;
    content: '';
    width: 1px;
    height: 16px;
    margin: 5px 12px 0 0;
    background: #b6e0ff;
}
.header-contacts-link a {
    color: #b6e0ff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    border-bottom: 1px dashed #7fc4f7;
}
.header-contacts-link a:hover {border-bottom: 1px dashed transparent;}
.header-top .online-button {
    float: right;
    width: 148px;
    padding: 7px 10px;
    color: #fff;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    border: 2px solid #f5d10f;
}
.header-top .online-button:hover {color: #000;}

.header-subtitle {
    margin: 0 0 30px;
    color: #fff;
    font-size: 24px;
    line-height: 42px;
}
.header-list {
    max-width: 560px;
    padding: 0 0 8px;
}
.header-list li {
    padding: 2px 0 6px 55px;
    margin: 0 0 15px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}
.icon1 {background: url(../images/h-icon1.png) 0 0 no-repeat;}
.icon2 {background: url(../images/h-icon2.png) 0 0 no-repeat;}
.icon3 {background: url(../images/h-icon3.png) 0 0 no-repeat;}
.header-form-title {
    max-width: 470px;
    margin: 0 0 22px;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
}
/************************* servises *************************/
.servises {
    position: relative;
    padding: 0 0 61px;
}
.servises h2 {
    color: #fff;
    text-align: center;
}
.servises h2:after {
    display: block;
    content: '';
    width: 34px;
    height: 2px;
    margin: 16px auto 0;
    background: #f6d001;
}
.serv-block {
    overflow: hidden;
    padding: 18px 0 0;
}
.serv-item {
    float: left;
    width: 31%;
    margin: 0 0 0 3.5%;
}
.serv-item:first-child {margin: 0;}
.serv-img img {
    max-width: 100%;
    border-radius: 5px 5px 0 0;
}
.serv-content {
    padding: 22px 34px 30px;
    text-align: center;
    background: #3da3de;
    border-radius: 0 0 5px 5px;
}
.serv-name {
    min-height: 48px;
    margin: 0 0 10px;
    color: #fff;
    font-size: 20px;
    line-height: 48px;
}
.serv-name span {
    display: inline-block;
    vertical-align: bottom;
    line-height: 24px;
}
.serv-price {
    margin: 0 0 17px;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
}
.serv-button {padding: 1px 0 0;}
.button {
    display: block;
    width: 100%;
    height: 46px;
    color: #40380a;
    font-size: 14px;
    font-weight: 700;
    line-height: 43px;
    text-align: center;
    text-decoration: none;
    background: #f6d001;
    border-radius: 5px;
    border-bottom: 3px solid #c09319;
    -webkit-transition: background .3s linear;
    -moz-transition: background .3s linear;
    -o-transition: background .3s linear;
    transition: background .3s linear;
}
.button:hover {
    background: #ffe400;
}
.button:active {
    height: 43px;
    margin: 3px 0 0;
    border-bottom: 0;
}
/************************* usual *************************/
.usual {

}
.usual-title {
    margin: 0 0 51px;
    font-size: 28px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.usual-title strong {
    display: block;
    font-weight: 500;
}
.usual-block {
    margin: 0 0 70px;
    text-align: center;
    font-size: 0;
}
.usual-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 31%;
    margin: 0 0 0 3.5%;
    font-size: 16px;
}
.usual-item:before {
    position: absolute;
    top: 7px;
    left: -30px;
    display: block;
    content: '';
    width: 24px;
    height: 44px;
    background: url(../images/arrow.png) 0 0 no-repeat;
}
.usual-item:first-child {margin: 0;}
.usual-item:first-child:before {display: none;}
.usual-icon {
    margin: 0 0 28px;
}
.usual-text {
    padding: 0 10px;
}
.usual-bottom {
    max-width: 500px;
    margin: 0 auto;
    color: #3891d2;
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    text-align: center;
}
/************************* what *************************/
.what {
    position: relative;
    padding: 69px 0 0;
}
.what:before {
    position: absolute;
    left: 50%;
    z-index: 0;
    display: block;
    content: '';
    width: 564px;
    height: 630px;
    top: 37px;
    margin-left: -1050px;
    background: url(../images/media/shape3.png) 50% 0 no-repeat;
}
.what h3 {font-weight: 700;}
.what-block {
    padding: 20px 0 0;
    text-align: center;
}
.what-item {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    margin: 0 0 50px;
}
.what-img {margin: 0 0 13px;}
.what-text {
    padding: 0 25px;
    font-size: 16px;
    line-height: 24px;
}
/************************* info *************************/
.order {
    height: 683px;
    margin: -150px 0 0;
    padding: 250px 0 0;
    background: url(../images/media/order-bg.png) 50% 0 no-repeat;
}
.order-title {
    margin: 0 0 32px;
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
}
/************************* info *************************/
.economy {padding: 10px 0 1px;}
.economy-block {
    max-width: 720px;
    margin: 0 auto;
}
.economy-item {
    display: table;
    width: 100%;
    margin: 0 0 70px;
}
.economy-item-reverse {
    direction: rtl;
}
.economy-img {
    position: relative;
    display: table-cell;
    vertical-align: top;
}
.economy-text {
    display: table-cell;
    vertical-align: top;
    padding: 0 0 0 100px;
}
.economy-item-reverse .economy-img, .economy-item-reverse .economy-text {
    direction: ltr;
}
.economy-item-reverse .economy-text {padding: 0 50px 0 0;}
.economy-title {
    position: relative;
    padding: 8px 0 0;
}
.pseudo-title {
    position: absolute;
    top: -18px;
    left: -60px;
    display: block;
    color: #f7f7f7;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    white-space: nowrap;
}
.economy-title h3 {
    position: relative;
    margin: 0 0 20px;
    font-size: 34px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}
.economy-item-reverse .pseudo-title {left: -25px;}
.economy-img-mob {display: none;}
/************************* how *************************/
.how {
    position: relative;
    z-index: 10;
    padding: 42px 0 100px;
}
.how:after, .how:before {
    position: absolute;
    left: 50%;
    z-index: 0;
    display: block;
    content: '';
}
.how:before {
    width: 445px;
    height: 982px;
    top: -200px;
    margin-left: -1000px;
    background: url(../images/media/shape1.png) 50% 0 no-repeat;
}
.how:after {
    width: 708px;
    height: 355px;
    top: 12px;
    margin-left: 292px;
    background: url(../images/media/shape2.png) 50% 0 no-repeat;
}
.how .holder {
    position: relative;
    z-index: 10;
}
.how h2 {
    padding: 0 0 0 135px;
}
.how-block {
    max-width: 910px;
    margin: 0 auto;
    padding: 7px 0 0;
}
.how-block:after {
    display: block;
    content: '';
    clear: both;
}
.how-item {
    float: left;
    clear: both;
    width: 55%;
    margin: 0 0 1px;
}
.how-item:nth-child(even){
    float: right;
}
.how-img {
    float: left;
    width: 107px;
}
.how-text {
    margin: 0 0 0 139px;
    padding: 24px 0 0;
    font-size: 16px;
    line-height: 26px;
}
/************************* info *************************/
.info {
    padding: 32px 0 100px;
    background: url(../images/media/info-bg.png) 50% 0 no-repeat;
}
.info h2 {
    max-width: 660px;
    padding: 0 0 0 60px;
}
.info-block {
    padding: 7px 0 0;
}
.info-item {
    display: inline-block;
    vertical-align: top;
    width: 48%;
    margin: 0 0 30px 3.5%;
}
.info-item:nth-child(2n + 1){
    margin: 0 0 30px;
}
.info-img {
    float: left;
    width: 139px;
}
.info-img img {
    border-radius: 5px;
    border: 1px solid #7fc4f7;
}
.info-text {
    margin: 0 0 0 160px;
    padding: 17px 0 1px;
}
/************************* review *************************/
.review {padding: 30px 0 55px;}
.review-block {
    max-width: 830px;
    margin: 0 auto;
}
.review-slider {padding: 0 70px;}
.review-slide {
    overflow: hidden;
}
.review-info {
    float: left;
    width: 123px;
    text-align: center;
}
.review-photo {padding: 4px 0 8px;}
.review-photo img {
    max-width: 100%;
    border-radius: 50%;
}
.review-author {
    font-weight: 400;
    line-height: 17px;
}
.review-author b {font-weight: 500;}
.review-text {
    margin: 0 0 0 190px;
}

.owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    margin-top: -30px;
    display: block;
    width: 32px;
    height: 61px;
}
.owl-prev {
    left: -70px;
    background: url(../images/arrows.png) 0 0 no-repeat;
}
.owl-next {
    right: -70px;
    background: url(../images/arrows.png) -32px 0 no-repeat;
}
/************************* footer *************************/
.footer-top {
    padding: 56px 0 53px;
    background: #136a9e url(../images/media/footer-bg.jpg) 50% 0 no-repeat;
}
.footer-top h3 {color: #fff;}
.form-block-title {
    margin: 0 0 22px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}
.form-line {
    margin: 0 -30px;
    padding: 37px 30px 30px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
}
.form-line .input {
    float: left;
    width: 22.5%;
    margin: 0 1.5% 0 0;
}
.form-line .submit {
    float: right;
    width: 28%;
}
.footer-city {padding: 32px 0 0;}
.footer-city-title {
    margin: 0 0 22px;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.footer-city-link {
    margin: 0 0 28px;
    text-align: center;
}
.city-link {
    padding: 0 0 0 27px;
    color: #b6e0ff;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    text-decoration: none;
    background: url(../images/city-icon.png) 0 0 no-repeat;
}
.city-link span {
    border-bottom: 1px dashed #7fc4f7;
}
.city-link:hover span {border-bottom: 1px dashed transparent;}
.city-table {
    max-width: 726px;
    margin: 0 auto;
    padding: 0 12px;
    border: 1px solid #7fc4f7;
    border-radius: 5px;
}
.city-row {
    display: table;
    width: 100%;
    padding: 14px 0 15px;
    color: #fff;
    font-weight: 400;
    border-top: 1px solid #7fc4f7;
}
.city-row:first-child {border-top: 0;}
.city-cell {
    display: table-cell;
    vertical-align: top;
}
.city-cell-name {
    width: 31%;
    padding: 0 20px 0 0;
}
.city-cell-adress {
    width: 46%;
    padding: 0 20px 0 0;
}
.city-cell-phone {
    width: 23%;
    text-align: right;
}
.footer-line {
    padding: 34px 0 38px;
    background: #e8e8e8;
}
.footer-copy {
    float: left;
    margin: 0 90px 0 0;
    font-weight: 400;
}
.footer-copy a {color: #1f1f1f;}
.footer-studio {
    float: left;
}
.footer-studio {
    color: #1f1f1f;
    font-weight: 400;
    text-decoration: none;
}
.footer-studio span {
    display: block;
}
.online-button {
    float: right;
    display: block;
    padding: 7px 24px;
    color: #332424;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    border: 3px solid #f5d10f;
    border-radius: 5px;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.online-button:hover {background: #f5d10f;}
.footer-bottom {
    padding: 14px 0 21px;
    color: #fff;
    font-weight: 300;
    text-align: center;
    background: #0b4066;
}
.footer-bottom-text {
    max-width: 680px;
    margin: 0 auto;
}
#hidden-block {
    display: none;
    width: 350px;
    padding: 10px;
    font-size: 16px;
}
#hidden-block h2 {
    margin: 0 0 20px;
    font-size: 27px;
    line-height: 30px;
    text-align: center;
}
/************************* Всплывающие окна *************************/
.popup {
    display: none;
    width: 400px;
    padding: 40px;
}
.popup-form-title {
    margin: 0 0 25px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}
.popup .input {
    background: #f9f9f9;
    border: 1px solid #dddddd;
}
.popup .input.error {
    color: rgb(255, 86, 71);
    background-color: rgb(255, 206, 202);
}
.popup .submit {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin: 0;
}
.popup .submit:active {margin: 3px 0 0;}
.thnx-text {
    width: 600px;
    padding: 100px 0 0;
    margin: 0 auto;
    color: #000;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-transform: uppercase;
}
.thnx .footer {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -480px;
}
.city-popup {
    display: none;
    width: 790px;
    padding: 23px 26px 42px 44px;
    background: #fff;
}
.contact-popup {
    display: none;
    width: 790px;
    padding: 53px 26px 42px 44px;
    background: #136a9e;
}
.city-top:after {
    display: block;
    content: '';
    clear: both;
}
.city-country {
    float: left;
    padding: 5px 54px 0 0;
}
.country-flag {
    float: left;
    width: 27px;
    height: 21px;
    padding: 5px 6px;
    border: 1px solid #dddddd;
    border-radius: 3px;
}
.country-flag img {display: block;}
.country-name {
    margin: 0 0 0 37px;
    color: #0f5888;
    font-size: 16px;
    text-decoration: underline;
}
.city-search {
    position: relative;
    float: left;
    width: 340px;
}
.city-search .input {
    height: 33px;
    font-size: 12px;
    background: #f9f9f9;
    border: 1px solid #dddddd;
}
.loupe {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    cursor: pointer;
    background: url(../images/loupe.png) 0 0 no-repeat;
}
.popup-close {
    position: absolute;
    top: 27px;
    right: 60px;
    color: #b8bcbf;
    font-size: 12px;
}
.city-main:after {
    display: block;
    content: '';
    clear: both;
}
.city-column {
    position: relative;
    float: left;
    width: 225px;
    padding: 0 15px 0 0;
}
.city-column-big {
    /*margin: 0 0 0 225px;*/
}
.city-title {
    margin: 0 0 20px;
    color: #848484;
    font-size: 18px;
    line-height: 24px;
}
.city-hidden {
    overflow-y: auto;
    max-height: 300px;
}
.city-list li {
    margin: 0 0 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
.city-list a {color: #0f5888;}
.city-hidden .city-list li {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    padding: 0 5px 0 0;
}
.city-title-mob {
    display: none;
    margin: 0 0 10px;
    font-size: 17px;
}
.city-region-link {
    display: none;
    height: 40px;
    padding: 0 30px 0 18px;
    margin: 0 0 20px;
    color: #9a9a9a;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
    text-decoration: none;
    border: 1px solid #77b1d0;
    border-radius: 5px;
    background: #fff url(../images/blue-arrow-min.png) 95% 50% no-repeat;
    background-position: right 16px center;
}
.city-region-block {
    overflow-y: auto;
    max-height: 310px;
    background: #fff;
}
/************************* media *************************/
@media screen and (max-width: 960px) {
    #wrapper {
        background: none;
    }
    .header {padding: 0 0 57px;}
    .header-top {
        margin: 0 -20px;
        max-width: none;
        padding: 20px 20px 20px;
        background: #006aa1;
    }
    .header-main {padding: 20px 0 0;}
    h1 {
        max-width: 600px;
        margin: 0 0 5px;
        color: #000;
        font-size: 18px;
        line-height: 22px;
    }
    .header-subtitle {
        margin: 0 0 20px;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
    .header-list li {
        padding: 6px 0 7px 45px;
        margin: 0 0 15px;
        color: #000;
        font-size: 13px;
        line-height: 15px;
    }
    .icon1 {background: url(../images/h-icon1-blue.png) 0 0 no-repeat;}
    .icon2 {background: url(../images/h-icon2-blue.png) 0 0 no-repeat;}
    .icon3 {background: url(../images/h-icon3-blue.png) 0 0 no-repeat;}
    .header-form {
        padding: 290px 20px 44px;
        margin: 0 -20px;
        background: #006aa1 url(../images/media/top-bg-mob2.jpg) 50% 0 no-repeat;
    }
    .header-form-title {
        max-width: 470px;
        margin: 0 auto 22px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
    .servises h2 {color: #000;}
    .serv-block {padding: 8px 0 0;}
    .serv-item {
        float: none;
        width: auto;
        max-width: 240px;
        margin: 0 auto 24px;
    }
    .serv-item:first-child {margin: 0 auto 24px;}
    .serv-content {
        padding: 17px 27px 22px;
    }
    .serv-name {
        min-height: 1px;
        margin: 0 0 10px;
        color: #fff;
        font-size: 16px;
        line-height: 18px;
    }
    .serv-name span {
        line-height: 18px;
    }
    .serv-item .button {font-size: 12px;}
    .usual-title {
        margin: 0 0 38px;
        font-size: 17px;
        line-height: 20px;
    }
    .usual-bottom {
        max-width: 300px;
        margin: -10px auto 0;
        font-size: 17px;
        line-height: 20px;
    }
    .usual-block {
        margin: 0px;
        padding: 0 0 1px;
        text-align: center;
        font-size: 0;
    }
    .usual-item {
        position: relative;
        display: block;
        width: auto;
        max-width: 220px;
        margin: 0 auto 66px;
        font-size: 16px;
    }
    .usual-item:first-child {margin: 0 auto 66px;}
    .usual-item:before {
        position: absolute;
        top: -50px;
        left: 50%;
        margin: 0 0 0 -12px;
        width: 25px;
        height: 13px;
        background: url(../images/arrow-down.png) 0 0 no-repeat;
    }
    .usual-icon {margin: 0 0 13px;}
    .usual-text {
        font-size: 12px;
        line-height: 15px;
    }
    .what h3 {
        margin: 0 0 18px;
        font-size: 21px;
        line-height: 25px;
    }
    .what-item {
        width: 48%;
        margin: 0 0 50px;
    }
    .what-text {
        font-weight: 400;
    }
    .order {
        height: auto;
        margin: 0;
        padding: 32px 0 44px;
        background: #006aa1;
    }
    .order-title {
        margin: 0 0 12px;
        color: #fff;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
    }
    .how {
        position: relative;
        z-index: 10;
        padding: 42px 0 18px;
    }
    .how:after, .how:before {
        display: none;
    }
    .how h2 {padding: 0;}
    .how-item {
        float: none;
        width: auto;
        margin: 0 0 37px;
    }
    .how-item:nth-child(even){
        float: right;
    }
    .how-img {
        float: left;
        width: 55px;
    }
    .how-img img {width: 100%;}
    .how-text {
        margin: 0 0 0 67px;
        padding: 9px 0 0;
        font-weight: 400;
        line-height: 20px;
    }

    .info {
        padding: 32px 0 10px;
        background: none;
    }
    .info h2 {
        padding: 0;
    }
    .info-block {
        padding: 7px 0 0;
    }
    .info-item {
        display: block;
        width: auto;
        margin: 0 0 20px;
    }
    .info-item:nth-child(2n + 1){
        margin: 0 0 20px;
    }
    .info-img {
        float: left;
        width: 71px;
        padding: 4px 0 0;
    }
    .info-img img {
        width: 100%;
    }
    .info-text {
        margin: 0 0 0 84px;
        padding: 0 0 1px;
        font-weight: 400;
    }

    .review {padding: 1px 0 55px;}
    h2 {
        margin: 0 0 27px;
        font-size: 21px;
        line-height: 25px;
    }
    .title:after {
        width: 65px;
        height: 2px;
        margin: 11px 0 0;
    }
    .review-info {
        float: none;
        width: 123px;
        margin: 0 auto 53px;
    }
    .review-text {
        margin: 0;
        font-weight: 400;
    }
    .review-slider {padding: 0;}
    .owl-prev, .owl-next {
        position: absolute;
        top: 70px;
        /*margin-top: ;*/
        display: block;
        width: 21px;
        height: 40px;
    }
    .owl-prev {
        left: 0;
        background: url(../images/arrows-mob.png) 0 0 no-repeat;
    }
    .owl-next {
        right: 0;
        background: url(../images/arrows-mob.png) -21px 0 no-repeat;
    }

    .footer-top {
        padding: 33px 0 38px;
        background: #136a9e
    }
    h3 {
        margin: 0 0 28px;
        font-size: 16px;
        line-height: 19px;
    }
    .form-block-title {
        margin: 0 0 15px;
        font-size: 13px;
        line-height: 20px;
    }
    .footer-city {padding: 57px 0 0;}
    .footer-city-title {
        margin: 0 0 22px;
        font-size: 17px;
        line-height: 20px;
    }
    .city-table {
        padding: 5px 12px;
        border: 1px solid #008acb;
    }
    .city-row {
        display: block;
        width: 100%;
        padding: 6px 0 8px;
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        border-top: 1px solid #008acb;
    }
    .city-row:first-child {border-top: 0;}
    .city-cell {
        display: block;
        width: auto;
        text-align: center;
    }
    .city-cell-name {
        padding: 0;
    }
    .city-cell-adress {
        padding: 0;
    }
    .city-cell-phone {
        text-align: center;
    }

    .form-line {
        width: 280px;
        margin: 0 auto;
        padding: 0;
        background: none;
        border-radius: 0;
    }
    .input {
        height: 40px;
        font-size: 14px;
    }
    .submit {
        display: inline-block;
        vertical-align: top;
        height: 48px;
        padding: 0;
        margin: 3px 0 0;
        font-size: 15px;
        line-height: 46px;
    }
    .submit:active {
        margin: 6px 0 0;
        height: 45px;
    }
    .form-line .input {
        float: none;
        width: 100%;
        margin: 0 0 7px;
    }
    .form-line .submit {
        float: none;
        width: 100%;
        margin: 3px 0 0;
    }
    .form-line .submit:active {
        margin: 6px 0 0;
    }
    .footer-line {
        padding: 34px 0 33px;
        text-align: center;
    }
    .footer-copy {
        float: none;
        margin: 0 0 15px;
    }
    .footer-studio {
        float: none;
        display: inline-block;
        margin: 0 0 30px;
    }
    .footer .online-button {
        float: none;
        display: block;
        max-width: 300px;
        margin: 0 auto;
        padding: 7px 10px;
        color: #332424;
        font-size: 13px;
    }

    .city-popup {
        display: none;
        width: 680px;
        padding: 23px 26px 42px 44px;
        background: #fff;
    }
    .contact-popup {
        display: none;
        width: 680px;
        padding: 23px 26px 42px 44px;
    }
    .popup-close {display: none;}
    .city-hidden .city-list li {
        width: 49%;
    }
}
@media screen and (max-width: 800px) {

}
@media screen and (max-width: 767px) {
    .header-top {
        padding: 16px 20px 28px;
    }
    .header-city-link {
        float: left;
        padding: 0;
    }
    .header-contacts-link {
        float: right;
        margin: 0 0 14px;
        padding: 0;
    }
    .header-contacts-link:before {display: none;}
    .city-link {
        padding: 0;
        font-size: 14px;
        line-height: 20px;
        background: none;
    }
    .header-contacts-link a {
        font-size: 14px;
        line-height: 20px;
    }
    .header-top .online-button {
        clear: both;
        float: none;
        width: 280px;
        padding: 7px 10px;
        margin: 0 auto;
        color: #fff;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        border: 2px solid #f5d10f;
    }

    .economy {padding: 10px 0 1px;}
    .economy-item {
        display: block;
        margin: 0 0 53px;
    }
    .economy-item-reverse {
        direction: ltr;
    }
    .economy-img {display: none;}
    .economy-img-mob {
        display: block;
        margin: 0 0 9px;
        text-align: center;
    }
    .economy-img-mob img {width: 156px;}
    .economy-text {
        display: block;
        padding: 0;
    }
    .economy-item-reverse .economy-text {padding: 0 50px 0 0;}
    .economy-title {
        position: relative;
        padding: 8px 0 0;
    }
    .pseudo-title {
        top: -8px;
        left: -15px;
        font-size: 25px;
        line-height: 36px;
    }
    .economy-title h3 {
        margin: 0 0 12px;
        font-size: 21px;
        line-height: 26px;
    }
    .economy-item-reverse .pseudo-title {left: -15px;}
    .economy-text p {
        font-size: 16px;
        font-weight: 400;
    }

    .city-popup {
        display: none;
        width: 300px;
        padding: 20px;
    }
    .contact-popup {
        display: none;
        width: 300px;
        padding: 20px;
    }
    .city-search {
        position: relative;
        float: none;
        clear: left;
        width: auto;
    }
    .popup-close {display: none;}
    .city-hidden .city-list li {
        width: 100%;
    }
    .city-search .input {
        height: 40px;
        font-size: 14px;
    }
    .city-column {
        float: none;
        width: auto;
        padding: 0;
    }
    .city-column .city-title {display: none;}
    .city-region-link {display: block;}
    .city-region-block {
        display: none;
        margin: 0 0 30px;
    }
    .city-column-big {margin: 0;}
    .city-title-mob {
        display: block;
        clear: left;
        padding: 19px 0 2px;
    }
    .city-title {display: none;}
    .fancybox-wrap .fancybox-close {
        top: 20px;
        right: 20px;
    }
}
@media screen and (max-width: 640px) {
    .what-item {
        width: 100%;
        margin: 0 0 40px;
    }
}
@media screen and (max-width: 560px) {

}
@media screen and (max-width: 480px) {
    .city-link {
        font-size: 12px;
    }
    .header-contacts-link a {
        font-size: 12px;
    }
}
@media screen and (max-width: 420px) {
    body {overflow-x: hidden;}

}
.city-input-text {
    display: none;
    margin: 0 0 36px;
    color: #fd5279;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}
.ui-widget-content {
    width: 400px !important;
    position: relative !important;
    z-index: 99999 !important;
}