{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
  <title>{{ SETUP.title|default:'Проведем опрос, анкетирование, промо-акцию в любой точке России.' }}</title>
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}" />
  <link media="all" rel="stylesheet" type="text/css" href="{% static 'css/jquery.fancybox.css' %}" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="{% static 'js/jquery-1.9.1.min.js' %}"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script src="{% static 'js/jquery.validate.js' %}"></script>
  <script src="{% static 'js/jquery.fancybox.js' %}"></script>
  <script src="{% static 'js/jquery.form.js' %}"></script>
  <script src="{% static 'js/jquery.maskedinput.js' %}"></script>
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/html5.js' %}"></script><![endif]-->
  <!--[if lt IE 9]><script type="text/javascript" src="{% static 'js/placeholder.js' %}"></script><![endif]-->
  <script src="{% static 'js/all.js' %}"></script>
</head>
<body>
  <div id="contact-popup" class="contact-popup">
    <a href="" class="popup-close">Закрыть</a>
    {% if moderator_list %}
      <div class="city-table">
      {% for moderator in moderator_list %}
        {% if moderator.contact or moderator.phone %}
        <div class="city-row">
          <div class="city-cell city-cell-name">{{ moderator.company|default:'не указано' }}</div>
          <div class="city-cell city-cell-adress">{{ moderator.contact|linebreaksbr|default:'' }}</div>
          <div class="city-cell city-cell-phone">{{ moderator.phone|default:'' }}</div>
        </div>
        {% endif %}
      {% endfor %}
      </div>
    {% endif %}
  </div>
  <div id="city-popup" class="city-popup">
    <a href="" class="popup-close">Закрыть</a>
    <div class="city-top">
      <div class="city-country">
        <div class="country-flag"><img src="{% static 'images/ru.png' %}" alt=""></div>
        <div class="country-name">Россия</div>
      </div>
      <div class="city-title-mob">Выберите Ваш город:</div>
      <div class="city-search">
        <form action="{% url 'landing:set-city' %}" method="post">{% csrf_token %}
          <fieldset>
            <input name="city" type="text" class="input input_city" data-url="{% url 'landing:find-city' %}" placeholder="Найти город...">
            <button class="loupe"></button>
          </fieldset>
        </form>
        <div class="city-input-text">В этом городе нет пока представительства</div>
      </div>
    </div>
    <div class="city-main">
      <div class="city-column">
{#        <div class="city-title">Выберите регион</div>#}
{#        <a href="" class="city-region-link">Выберите регион</a>#}
{#        <div class="city-region-block">#}
{#          <ul class="city-list">#}
{#            <li><a href="">Все регионы</a></li>#}
{#            <li><a href="">Дальневосточный</a></li>#}
{#            <li><a href="">Приволжский</a></li>#}
{#            <li><a href="">Северо-Западный</a></li>#}
{#            <li><a href="">Северо-Кавказский</a></li>#}
{#            <li><a href="">Сибирский</a></li>#}
{#            <li><a href="">Уральский</a></li>#}
{#            <li><a href="">Центральный</a></li>#}
{#            <li><a href="">Южный</a></li>#}
{#          </ul>#}
{#        </div>#}
      </div>
      <div class="city-column-big">
        <div class="city-title">Выберите Ваш город:</div>
        <div class="city-hidden">
          <ul class="city-list">
            {% for city in city_list %}
            <li><a href="{{ city.get_absolute_url }}">{{ city.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="wrapper">
    <header class="header">
      <div class="holder">
        <div class="header-top">
          <div class="header-city-link">
            <a href="#city-popup" class="city-link fancybox"><span>{{ object.name|default:'Выберите ваш город' }}</span></a>
          </div>
          {% if moderator_list %}
          <div class="header-contacts-link"><a href="#contact-popup" class="fancybox">{{ phone|default:'Контакты исполнителей' }}</a></div>
          {% endif %}
          <a href="http://www.reklamadoma.com/dashboard/" class="online-button">Вход в программу онлайн-контроля</a>
        </div>
        <div class="header-main">
          <h1>Проведем опрос, анкетирование, промо-акцию в любой точке России.</h1>
          <div class="header-subtitle">Онлайн-контроль выполнения.</div>
          <ul class="header-list">
            <li class="icon1">Получайте оплаченные услуги в полном объеме</li>
            <li class="icon2">Отслеживайте выполнение заказа с вашего ПК и смартфона</li>
            <li class="icon3">Лично проверяйте достоверность информации в данных опросов</li>
          </ul>
        </div>
        <div class="header-form">
          <div class="header-form-title">Оставьте заявку на расчет стоимости проведения промоакции с эффективностью 100%</div>
          <div class="form-line">
            <form action="{% url 'landing:ticket' %}" class="js-ticket-form" method="post">{% csrf_token %}
              <fieldset>
                <input name="name" type="text" class="input" placeholder="Ваше имя">
                <input name="phone" type="text" class="input" placeholder="+7 (___) ___-__-__">
                <input name="mail" type="text" class="input" placeholder="Ваш email">
                <input type="hidden" name="theme" value="Заявка на консультацию">
                <input type="hidden" name="city" value="{{ object.id|default:'' }}">
                <button class="submit">Оставить заявку</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </header>
    <section class="servises">
      <div class="holder">
        <h2>Услуги</h2>
        <div class="serv-block">
          <div class="serv-item">
            <div class="serv-img"><img src="{% static 'images/media/serv1.jpg' %}" alt=""></div>
            <div class="serv-content">
              <div class="serv-name"><span>Проведение опросов</span></div>
              <div class="serv-price">от 5 000 руб.</div>
              <div class="serv-button">
                <a href="#popup" class="button button-data fancybox" data-title="проведении опросов" data-theme="Консультация о проведении опросов">Заказать консультацию</a>
              </div>
            </div>
          </div>
          <div class="serv-item">
            <div class="serv-img"><img src="{% static 'images/media/serv2.jpg' %}" alt=""></div>
            <div class="serv-content">
              <div class="serv-name"><span>Раздача рекламных материалов</span></div>
              <div class="serv-price">от 5 000 руб.</div>
              <div class="serv-button">
                <a href="#popup" class="button button-data fancybox" data-title="раздаче рекламных материалов" data-theme="Консультация о раздаче рекламных материалов">Заказать консультацию</a>
              </div>
            </div>
          </div>
          <div class="serv-item">
            <div class="serv-img"><img src="{% static 'images/media/serv3.jpg' %}" alt=""></div>
            <div class="serv-content">
              <div class="serv-name"><span>Анкетирование</span></div>
              <div class="serv-price">от 5 000 руб.</div>
              <div class="serv-button">
                <a href="#popup" class="button button-data fancybox" data-title="анкетировании" data-theme="Консультация об анкетировании">Заказать консультацию</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="usual">
      <div class="holder">
        <div class="usual-title">Что вы обычно делаете, когда хотите заказать услуги <strong>раздачи листовок или проведение опроса?</strong></div>
        <div class="usual-block">
          <div class="usual-item">
            <div class="usual-icon"><img src="{% static 'images/icon1.png' %}" alt=""></div>
            <div class="usual-text">Ищете рекламное агентство, которое занимается проведением промоакций</div>
          </div>
          <div class="usual-item">
            <div class="usual-icon"><img src="{% static 'images/icon2.png' %}" alt=""></div>
            <div class="usual-text">Согласовываете рекламный формат, место и время проведения мероприятия</div>
          </div>
          <div class="usual-item">
            <div class="usual-icon"><img src="{% static 'images/icon3.png' %}" alt=""></div>
            <div class="usual-text">Периодически выезжаете по адресам, чтобы проверить качество работы промоутеров.</div>
          </div>
        </div>
        <div class="usual-bottom">Ответьте честно, вы всегда довольны результатом?</div>
      </div>
    </section>
    <section class="what">
      <div class="holder">
        <h3>Что делают промоутеры, когда вы не видите?</h3>
        <div class="what-block">
          <div class="what-item">
            <div class="what-img"><img src="{% static 'images/media/what1.png' %}" alt=""></div>
            <div class="what-text">Покидают рабочее место<br> сразу после проверки супервайзером.</div>
          </div>
          <div class="what-item">
            <div class="what-img"><img src="{% static 'images/media/what2.png' %}" alt=""></div>
            <div class="what-text">Не проявляют никакой активности, а просто простаивают на точке.</div>
          </div>
          <div class="what-item">
            <div class="what-img"><img src="{% static 'images/media/what3.png' %}" alt=""></div>
            <div class="what-text">Создают видимость работы только при приближении проверяющего.</div>
          </div>
          <div class="what-item">
            <div class="what-img"><img src="{% static 'images/media/what4.png' %}" alt=""></div>
            <div class="what-text">Отчитываются о прибытии на место проведения акции даже не переступив порог своего дома.</div>
          </div>
          <div class="what-item">
            <div class="what-img"><img src="{% static 'images/media/what5.png' %}" alt=""></div>
            <div class="what-text">Самостоятельно придумывают результаты опросов и отсылают их клиенту.</div>
          </div>
          <div class="what-item">
            <div class="what-img"><img src="{% static 'images/media/what6.png' %}" alt=""></div>
            <div class="what-text">Выбрасывают до 70% рекламных листовок в ближайший мусорный ящик.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="order">
      <div class="holder">
        <div class="order-title">Хватит тратить деньги впустую!</div>
        <div class="form-block-title">Закажите организацию промоакций, проведение анкетирования у нас и лично контролируйте каждую минуту
        работы промоутеров с любого компьютера с выходом в Сеть.</div>
        <div class="form-line">
          <form action="{% url 'landing:ticket' %}" class="js-ticket-form" method="post">{% csrf_token %}
            <fieldset>
              <input name="name" type="text" class="input" placeholder="Ваше имя">
              <input name="phone" type="text" class="input" placeholder="+7 (___) ___-__-__">
              <input name="mail" type="text" class="input" placeholder="Ваш email">
              <input type="hidden" name="theme" value="Заявка на консультацию">
              <input type="hidden" name="city" value="{{ object.id|default:'' }}">
              <button class="submit">Оставить заявку</button>
            </fieldset>
          </form>
        </div>
      </div>
    </section>
    <section class="economy">
      <div class="holder">
        <div class="economy-block">
          <div class="economy-item economy-item-reverse">
            <div class="economy-img"><img src="{% static 'images/media/economy1.jpg' %}" alt=""></div>
            <div class="economy-text">
              <div class="economy-title">
                <span class="pseudo-title">Экономьте время</span>
                <h3>Экономьте время</h3>
              </div>
              <div class="economy-img-mob"><img src="{% static 'images/media/economy1.jpg' %}" alt=""></div>
              <p>Вам больше не придется ездить на место проведения рекламной акции лично. С помощью программы
              с GPS-модулем вы всегда будете видеть точное место расположения исполнителя на гугл-карте,
              его передвижения, время начала и окончания работ.</p>
              <p>Все это доступно для вас с любого компьютера с подключением к сети Интернет из любой точки мира.</p>
            </div>
          </div>
          <div class="economy-item">
            <div class="economy-img"><img src="{% static 'images/media/economy2.jpg' %}" alt=""></div>
            <div class="economy-text">
              <div class="economy-title">
                <span class="pseudo-title">Экономьте деньги</span>
                <h3>Экономьте деньги</h3>
              </div>
              <div class="economy-img-mob"><img src="{% static 'images/media/economy2.jpg' %}" alt=""></div>
              <p>Вам больше не придется оплачивать работу проверяющего, которая обычно включена в стоимость организации промоакции.</p>
              <p>Вы платите только за фактически отработанное промоутером время, которое вы контролируете лично.</p>
            </div>
          </div>
          <div class="economy-item economy-item-reverse">
            <div class="economy-img"><img src="{% static 'images/media/economy3.jpg' %}" alt=""></div>
            <div class="economy-text">
              <div class="economy-title">
                <span class="pseudo-title">Экономьте нервы</span>
                <h3>Экономьте нервы</h3>
              </div>
              <div class="economy-img-mob"><img src="{% static 'images/media/economy3.jpg' %}" alt=""></div>
              <p>При заказе услуг по распространению рекламных материалов или проведению анкетирования у нас вы уверены,
              что каждый рубль, вложенный в организацию промоакции, не потрачен впустую.</p>
              <p>Вам больше не придется никому доказывать, что исполнителя нет на месте, и нервничать из-за неэффективного
              расходования средств рекламного бюджета.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="how">
      <div class="holder">
        <h2 class="title">Как это работает?</h2>
        <div class="how-block">
          <div class="how-item">
            <div class="how-img"><img src="{% static 'images/media/how1.png' %}" alt=""></div>
            <div class="how-text">Вы обращаетесь к нам и согласовываете план рекламной акции, детали, время и место ее проведения.</div>
          </div>
          <div class="how-item">
            <div class="how-img"><img src="{% static 'images/media/how2.png' %}" alt=""></div>
            <div class="how-text">Промоутер получает задачу на свой мобильный телефон. После прибытия
            на место он с помощью функционала программы фиксирует время начала работы.</div>
          </div>
          <div class="how-item">
            <div class="how-img"><img src="{% static 'images/media/how3.png' %}" alt=""></div>
            <div class="how-text">По вашему желанию исполнитель может делать аудиозаписи и фотоснимки своей работы, которые
            моментально сохраняются на сервере. Вы можете мгновенно убедиться в том, что промоутер не занимается посторонними
            делами, а работает по вашему заказу.</div>
          </div>
          <div class="how-item">
            <div class="how-img"><img src="{% static 'images/media/how4.png' %}" alt=""></div>
            <div class="how-text">Вы видите место нахождения каждого исполнителя и все его передвижения,
            а также любые отклонения от заданного маршрута с помощью GPS-модуля программы. Для этого вам нужен только компьютер и Интернет.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="info">
      <div class="holder">
        <h2 class="title">Что вам не смогут предложить наши конкуренты?</h2>
        <div class="info-block">
          <div class="info-item">
            <div class="info-img"><img src="{% static 'images/media/info1.jpg' %}" alt=""></div>
            <div class="info-text"><p>Вы самостоятельно указываете радиус работы промоутера на карте. При его отклонении от заданного
            маршрута вы тут же получите сигнал от системы. Вы всегда точно знаете, где находится и что делает исполнитель вашего заказа.</p></div>
          </div>
          <div class="info-item">
            <div class="info-img"><img src="{% static 'images/media/info2.jpg' %}" alt=""></div>
            <div class="info-text"><p>Вы сможете одновременно контролировать несколько проектов в разных географических зонах
            благодаря программе с отслеживанием перемещений промоутеров в режиме реального времени.</p>
            <p>Вы сможете запустить одновременно несколько рекламных акций и нисколько не сомневаться в их эффективности.</p></div>
          </div>
          <div class="info-item">
            <div class="info-img"><img src="{% static 'images/media/info3.jpg' %}" alt=""></div>
            <div class="info-text"><p>Благодаря встроенной функции аудиозаписи разговоров вы можете услышать, как и о чем промоутер
            общается с прохожими, проверить достоверность заполнения анкеты при опросах и убедиться, что исполнитель не
            сидит в сторонке, а активно работает над задачей.</p></div>
          </div>
          <div class="info-item">
            <div class="info-img"><img src="{% static 'images/media/info4.jpg' %}" alt=""></div>
            <div class="info-text"><p>По вашему запросу промоутер может сделать фотоснимки с места выполнения заказа, которые с
            помощью GPS-модуля будет привязаны к точке нахождения исполнителя на карте. Вы тут же сможете увидеть их в
            своем личном кабинете на сервере.</p></div>
          </div>
        </div>
      </div>
    </section>
    <section class="review">
      <div class="holder">
        <div class="review-block">
          <h2 class="title">Почему 90% клиентов нашего портала становятся постоянными?</h2>
          <div class="review-slider">
            <div class="owl-carousel">
              <div class="review-slide">
                <div class="review-info">
                  <div class="review-photo"><img src="{% static 'images/media/photo.jpg' %}" alt=""></div>
                  <div class="review-author"><b>Илья Сергеев</b> владелец сети минимаркетов</div>
                </div>
                <div class="review-text">“Специфика моего бизнеса такова, что промоакции приходится устраивать часто,
                чтобы не отставать от конкурентов. Раньше я заказывал услуги по раздаче рекламных листовок с акционными
                предложениями нашей сети в рекламном агентстве, которое не давало никаких гарантий. Мне приходилось
                платить зарплату отдельному сотруднику, который проверял работу промоутеров. Стоит ли говорить, что
                они не всегда находились на месте. Организация рекламной акции мне обошлась дешевле, при этом
                я лично контролировал ее проведение, сидя у себя в офисе, и точно понимал, за что плачу деньги.”</div>
              </div>
              <div class="review-slide">
                <div class="review-info">
                  <div class="review-photo"><img src="{% static 'images/media/photo2.jpg' %}" alt=""></div>
                  <div class="review-author"><b>Ольга Кирова</b> руководитель маркетингового агентства</div>
                </div>
                <div class="review-text">“Наше агентство специализируется на исследованиях рынка. Данные опросов
                общественного мнения — та самая база, без которой мы просто не можем работать. Увидели предложение на
                сайте и решили поработать в новом формате. В любом случае мы ничего не потеряли бы — стоимость услуг
                здесь даже ниже, чем у нашего предыдущего партнера. Сотрудничеством остались очень довольны, поскольку
                мы на 100% уверены в результатах анкетирования и в любой момент можем проверить данные, просто прослушав
                аудиозапись в привязке к каждому опросу без путаницы. Этот факт, конечно же, положительно повлиял на
                эффективность и достоверность наших исследований.“</div>
              </div>
              <div class="review-slide">
                <div class="review-info">
                  <div class="review-photo"><img src="{% static 'images/media/photo3.jpg' %}" alt=""></div>
                  <div class="review-author"><b>Елена Некрасова</b> главный маркетолог сети туристических агентств</div>
                </div>
                <div class="review-text">“Основная проблема, с которой мы сталкиваемся при заказе промоакций, заключается
                в необходимости ездить между городами для организации процесса проведения раздачи листовок и контроля
                над исполнителями. Это отнимает немало сил и средств. Предложение по промоакциям на этом сайте нас
                заинтересовало из-за возможности удаленного контроля. Мы попробовали и не ошиблись. Заказали проведение
                рекламной акции сразу в трех городах. Результатом остались более чем довольны. Весь процесс я лично
                контролировала прямо из здания офиса, не выезжая на проверку даже в пределах своего города. Очень удобно,
                быстро и совершенно недорого. “</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-top">
        <div class="holder">
          <h3>Используйте возможности рекламного канала<br> по организации промоакций с максимальной эффективностью</h3>
          <div class="form-block">
            <div class="form-block-title">Оставьте заявку на консультацию:</div>
            <div class="form-line">
              <form action="{% url 'landing:ticket' %}" class="js-ticket-form" method="post">{% csrf_token %}
                <fieldset>
                  <input name="name" type="text" class="input" placeholder="Ваше имя">
                  <input name="phone" type="text" class="input" placeholder="+7 (___) ___-__-__">
                  <input name="mail" type="text" class="input" placeholder="Ваш email">
                  <input type="hidden" name="theme" value="Заявка на консультацию">
                  <input type="hidden" name="city" value="{{ object.id|default:'' }}">
                  <button class="submit">Оставить заявку</button>
                </fieldset>
              </form>
            </div>
          </div>
          <div class="footer-city">
            <div class="footer-city-title">Не хотите ждать? Выберите ваш город, чтобы посмотреть контакты исполнителей</div>
            <div class="footer-city-link">
              <a href="#city-popup" class="city-link fancybox"><span>Выберите ваш город</span></a>
            </div>
          {% if moderator_list %}
            <div class="city-table">
            {% for moderator in moderator_list %}
              {% if moderator.contact or moderator.phone %}
              <div class="city-row">
                <div class="city-cell city-cell-name">{{ moderator.company|default:'не указано' }}</div>
                <div class="city-cell city-cell-adress">{{ moderator.contact|linebreaksbr|default:'' }}</div>
                <div class="city-cell city-cell-phone">{{ moderator.phone|default:'' }}</div>
              </div>
              {% endif %}
            {% endfor %}
            </div>
          {% endif %}
          </div>
        </div>
      </div>
      <div class="footer-line">
        <div class="holder">
          <div class="footer-copy">
            Все права защищены &copy;
            <script type="text/javascript">var mdate = new Date(); document.write(mdate.getFullYear());</script> <br>
            <a href="#hidden-block" class="fancybox">Политика конфиденциальности</a>
          </div>
          <a href="http://neurondg.com/" target="_blank" class="footer-studio">
            <span>Дизайн сайта</span>
            <img src="{% static 'images/studio.png' %}" alt="">
          </a>
          <a href="http://www.reklamadoma.com/dashboard/" class="online-button">Вход в программу онлайн-контроля</a>
          <div id="hidden-block">
            <h2>Политика конфиденциальности</h2>
            <p>Мы не собираем личную информацию о Вас, когда Вы заходите на наш сайт.
            Вы можете анонимно просматривать сайт. Тем не менее, Ваш браузер все же автоматически сообщает нам тип компьютера и операционной системы, которые Вы используете. Единственная личная информация о Вас, которую мы получаем, это те данные, которые Вы добровольно предоставляете при заполнении форм.
            При заполнении форм на сайте у Вас запросят персональную информацию, такую как имя, номер телефона. Предоставление такой информации в ответ на запрос осуществляется Вами исключительно добровольно.
            Предоставленная Вами информация используется чтобы оказать те услуги, которые Вы сами запрашиваете.</p>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="holder">
          <div class="footer-bottom-text">Правообладатель программного обеспечения: International Communication Technologies s.r.o.
          Представитель по России, СНГ, Украины: ООО "Рекламные технологии</div>
        </div>
      </div>
    </footer>
    <div id="popup" class="popup">
      <div class="prod-form">
        <div class="popup-form-title">Заказать консультацию о <span class="insert-title">проведении опросов</span></div>
        <form action="{% url 'landing:ticket' %}" class="js-ticket-form" method="post">{% csrf_token %}
          <fieldset>
            <input name="name" type="text" class="input" placeholder="Ваше имя">
            <input name="phone" type="text" class="input" placeholder="+7 (___) ___-__-__">
            <input name="mail" type="text" class="input" placeholder="Ваш email">
            <input type="hidden" name="theme" value="Заявка на консультацию">
            <input type="hidden" name="city" value="{{ object.id|default:'' }}">
            <button class="submit"><span class="submit-arrow">Оставить заявку</span></button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</body>
</html>